---
layout: default
---

<header id="main">
  <div class="content">
    <section id="intro">
      <div id="logo"></div>
      <h2><span>Динамічна</span> <span>мова</span> CSS стилів.</h2>
      <h3>
        LESS дозволяє використовувати в CSS <span>змінні</span>, 
        <span>домішки</span>, <span>операції</span> та <span>функції</span>.
      </h3>
      <h3>
        LESS працює як на сервер-сайді
        (із <span>Node.js</span> та <span>Rhino</span>) так і на <span>клієнт-сайді</span> (сучасні браузери).
      </h3>
      <a id="download" href="https://raw.github.com/cloudhead/less.js/master/dist/less-1.3.3.min.js">
        <img src="/images/download-button.png" />
      </a><div id="download-info">
      <div>версія <code>1.3.3</code></div>
      <div><a href="https://github.com/cloudhead/less.js/blob/master/CHANGELOG.md">журнал змін</a></div>
    </div>
    </section>

    <section id="example">
      {% capture example %}
        {% include example.md %}
      {% endcapture %}
      {{ example | markdownify }}

      {% capture usage_brief_serverside %}
        {% include usage-brief-serverside.md %}
      {% endcapture %}
      {{ usage_brief_serverside | markdownify }}
    </section>
  </div>
  <div style="clear: both"></div>
</header>

<section id="menu">
  <div class="content">
    <nav>
      <a href="#synopsis">огляд</a>
      <a href="#usage">використання</a>
      <a href="#docs" id="guide-link">мова</a>
      <a href="#reference" id="guide-link">довідник функцій</a>
      <a href="https://github.com/cloudhead/less.js">сирці</a>
      <a href="#about">про</a>
      <a href="http://less2css.org/" target="_blank">спробувати!</a>
    </nav>
    <a href="https://twitter.com/cloudhead" class="twitter-follow-button" data-show-screen-name="false" data-width="80px" data-show-count="false" data-lang="en">Follow on twitter</a>
    <div id="dropdown">
      <ul>
        <li><a href="#-variables">Змінні</a></li>
        <li><a href="#-mixins">Домішки</a></li>
        <li><a href="#-parametric-mixins">Домішки з параметрами</a></li>
        <li><a href="#-pattern-matching-and-guard-expressions">Шаблони</a></li>
        <li><a href="#-nested-rules">Вкладені правила</a></li>
        <li><a href="#-operations">Операції</a></li>
        <li><a href="#-functions">Функції</a></li>
        <li><a href="#-namespaces">Простори імен</a></li>
        <li><a href="#-scope">Область видимості</a></li>
        <li><a href="#-comments">Коментарі</a></li>
        <li><a href="#-importing">Імпорт</a></li>
      </ul>
    </div>
  </div>
</section>

<section id="synopsis" class="page page-dark">
  <div class="content">
    {% capture synopsis %}
      {% include synopsis.md %}
    {% endcapture %}
    {{ synopsis | markdownify }}
  </div>
</section>

<section id="usage" class="page page-dark">
  <div class="content">
    {% capture usage %}
      {% include usage.md %}
    {% endcapture %}
    {{ usage | markdownify }}
  </div>
</section>

<section id="docs" class="page page-light">
  <h1>Мова</h1>
  <div class="content">
    {% capture doc %}
      {% include doc.md %}
    {% endcapture %}
    {{ doc | markdownify }}
  </div>
</section>

<section id="reference" class="page page-light">
  <h1>Довідник функцій</h1>
  <div class="content">
    {% capture reference %}
      {% include reference.md %}
    {% endcapture %}
    {{ reference | markdownify }}
  </div>
</section>

<section id="translations" class="page page-dark">
  <div class="content">
    <h1>Іншими мовами</h1>
    <ul>
      <li>Російською: <a href="http://lesscss.ru">http://lesscss.ru</a></li>
      <li>Китайською: <a href="http://lesscss.net">http://lesscss.net</a></li>
      <li>Японською: <a href="http://less-ja.studiomohawk.com/">http://less-ja.studiomohawk.com/</a></li>
      <li>Польською: <a href="http://ciembor.github.com/lesscss.org/">http://ciembor.github.com/lesscss.org/</a></li>
      <li>Індонезійською: <a href="http://bertzzie.com/post/7/dokumentasi-less-bahasa-indonesia">http://bertzzie.com/post/7/dokumentasi-less-bahasa-indonesia</a></li>
    <li>Білоруською: (застріле) <a href="http://www.designcontest.com/show/lesscss-be">http://www.designcontest.com/show/lesscss-be</a></li>
      <li>Португальською: (застріле) <a href="http://lesscss.loopinfinito.com.br/">http://lesscss.loopinfinito.com.br/</a></li>
    </ul>
  </div>
</section>

<section id="about" class="page page-dark">
  <div class="content">
    {% capture about %}
      {% include about.md %}
    {% endcapture %}
    {{ about | markdownify }}
    <footer>
        <p>підтримується <a href="http://github.com/cloudhead/less.js">LESS</a></p>
        <p id="copy">Copyright &copy; Alexis Sellier 2010-2013</p>
    </footer>
  </div>
</section>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
